/* GLOBAL STYLES */
html {
  overflow: hidden;
}

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #2E3440;
  color: #ECEFF4;
}

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.column {
  flex-flow: column nowrap;
}

.row {
  flex-flow: row nowrap;
}

.row-1{
  pointer-events: none;
}

.row-2{
}

.bg-red {
  background-color: #BF616A;
}

.bg-green {
  background-color: #A3BE8C;
}

.btn {
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px
}

.out {
  animation-name: slideout;
  animation-duration: 1s;
}

.in {
  animation-name: slidein;
  animation-duration: 1s;
}

.green{
  color: #A3BE8C;
}

.red{
  color: #BF616A;
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(500%);
  }
}

/* INLINE STYLES */
header {
  justify-content: space-between;
  max-height: 82px;
}

h1 {
  margin: 0;
  font-size: 75px;
}

h2{
  margin: 0;
}

h3{
  margin: 0;
  font-size: 14px
}

nav {
  position: relative;
  right: 0px;
  transition: right 0.75s ease-in-out;
}

nav.hidden{
  right: -250px;
}

input {
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
}

input:focus {
  outline: none;
}

input[type="Submit"] {
  background-color: #D8DEE9;
  font-weight: bold;
}

input[type="Submit"]:active {
  background-color: #4C566A;
  color: #D8DEE9;
}

select {
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
}

label {
  font-size: 18px;
}

canvas {
  max-width: 80%;
  margin: 0 auto;
}

.fas {
  font-size: 27px;
  max-width: fit-content;
  margin-right: 6px;
}

.headings{
  width: 80%;
  margin: 0 auto;
}

#coin_search {
  color: grey;
  text-transform: uppercase;
}

#filter {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

#search_suggestion {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
  font-family: system-ui;
  color: grey;
  pointer-events: none;
  text-transform: uppercase;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
  #search_suggestion {
    left: 10px;
    top: 9px;
    letter-spacing: 0.034em;
  }
}

#login-bar{
  position: relative;
  top: 0;
  transition: top 0.5s ease-in-out;
}

#login-bar.hidden-top {
  top: -45px;
}

#login_submit {
  color: #2E3440;
}

#view-login, #login_submit {
  max-width: fit-content;
  padding: 6px 5px 4px 5px;
  font-weight: bold;
}

#view-login {
  color: #4C566A;
  font-size: 30px;
  padding: 4px;
}

#view-login:focus, #login_submit:focus {
  outline: none;
}

#add_remove {
  margin: 10px auto;
  max-width: 80%
}

#name {
  font-weight: bold;
  color: #4C566A;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

#profile_options{
  display: flex;
}

#profile_options span{
    display: inline-flex;
    align-items: center;
    padding: 0 0 0 5px;
}

a#logout {
  font-weight: bold;
  text-decoration: none;
  color: #A3BE8C;
  padding-left: 5px;
  margin: 12px 0;
  display: block;
}

#delete{
  color: #BF616A;
  font-weight: bold;
}